<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery -->
   <script src="{% static 'nkana/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'nkana/js/bootstrap.min.js' %}"></script>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'nkana/css/bootstrap.min.css' %}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'nkana/css/1-col-portfolio.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'nkana/css/main.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_content %}{% endblock %}
    <title>{% block title %}TYCL{% endblock %}</title>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="pull-left trustname">
        <a href="#">N'KaNa</a>
    </div>

            {% if user.is_authenticated %}
                <div style="float:right;margin-right:17px;margin-top:20px;color:white;"><span>{{ user }}</span><a style="color:white;margin-left:10px" href="/logout">Logout</a></div>
            {% else %}
                <div style="float:right;margin-right:17px;margin-top:20px;color:white;"><a style="color:white;margin-left:10px" href="/selfservice/registration">Login</a></div>
            {% endif %}

        <ul id="nav" class="pull-right">
    

    <li>
        <a href="#">About</a>
        <ul>
            <li><a href="#">The product</a></li>
            <li><a href="#">Meet the team</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Mentor</a>

        <ul>
            <li><a href="/mentor/profile">Profile Registration</a></li>
            <li><a href="/mentor/landing">Welcome</a></li>

            <li><a href="/Insights">Insights</a></li>
        </ul>

    </li>
    <li>
        <a href="#">Volunteer</a>
        <ul>
            <li><a href="#">Profile Registration</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Contact</a>
        <ul>
            <li><a href="#">Email</a></li>
        </ul>
    </li>
</ul>
        <!-- /.container -->
    </nav>
    {% block opt_content %}{% endblock %}
    <!-- Page Content -->
    <div class="container">

        {% block content %}{% endblock %}

    </div>
    <!-- /.container -->
    
    <!-- Footer -->
        <footer id="footer">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Your Website 2014	
                </div>
            </div>
            <!-- /.row -->
        </footer>

</body>

</html>
