
{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <div class="row">
        <div class="col-md-4 volunteer">
            <a href="#">
                <img class="img-responsive" src="{% static 'nkana/images/Kids.jpeg' %}" alt="">
            </a>
        </div>
        <div class="col-md-4 childrens">
            <a href="/volunteer/profile">
                <img class="img-responsive" src="{% static 'nkana/images/volunteers.jpeg' %}" alt="">
            </a>
        </div>
        <div class="col-md-4 mentor">
           <a href="/mentor/landing">
                <img class="img-responsive" src="{% static 'nkana/images/Mentor.jpeg' %}" alt="">
            </a>
        </div>
    </div>

{% endblock %}
