
{% block head_content %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>

    $(function () {
    // Set up the chart
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'column',
            margin: 75,
            options3d: {
                enabled: true,
                alpha: 15,
                beta: 15,
                depth: 50,
                viewDistance: 25
            }
        },
        legend : {enabled :false},
        title: {
            text: 'Utilization Metrics'
        },
        subtitle: {
            text: 'Usage pattern of faciltiy'
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        xAxis: {
            categories: {{ utilization_keys|safe }}
        },
        series: [{
            data: {{ utilization_values|safe }}
        }]
    });

    function showValues() {
        $('#R0-value').html(chart.options.chart.options3d.alpha);
        $('#R1-value').html(chart.options.chart.options3d.beta);
    }

    // Activate the sliders
    $('#R0').on('change', function () {
        chart.options.chart.options3d.alpha = this.value;
        showValues();
        chart.redraw(false);
    });
    $('#R1').on('change', function () {
        chart.options.chart.options3d.beta = this.value;
        showValues();
        chart.redraw(false);
    });

    showValues();
});
</script>


<script>

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#container1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Mentor Availablity'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Count',
                colorByPoint: true,
                data: [
                {
                    name: 'Students with Mentors',
                    y: {{ mentor.0 }}
                }, {
                    name: 'Students Without Mentors',
                    y: {{ mentor.1 }}
                }]
            }]
        });
    });
});
</script>

<script>

    $(function () {
    $('#container2').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Meeting Frequency of Volunteers'
        },
        subtitle: {
            text: 'Source: Conventional form Data'
        },
        xAxis: {
            categories: {{ mc_m|safe }},
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Visit Frequency',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' Times'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Times Of Visit',
            data: {{ mc_c|safe }}
        }]
    });
});

</script>

<script>

    $(function () {
    $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Weekly Effort Distribution'
        },
        subtitle: {
            text: 'Source: Accumulated Conventional form data'
        },
        xAxis: {
            categories: {{ df_k|safe }},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cumulative Hours'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} Hrs</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Frequency',
            data: {{ df_v|safe }}

        }]
    });
});

</script>

{% endblock %}

{% block content %}
<div id="container" style="height: 400px;width: 700px;float:left"></div>
<div id="container1" style="height: 400px;width: 700px;float:right"></div>
<div id="container2" style="height: 400px;width: 700px;margin: 0 auto; float:left"></div>
<div id="container3" style="height: 400px;width: 700px;margin: 0 auto; float:left"></div>
{% endblock %}